
{% extends 'task/base.html'%}
{% block content %}
{{total}}
    {% for project in projects%}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <span class="mr-2 float-right"><kbd style="background-color:#059862" > Posted on - {{project.date_posted}} </span>


            <h2><a class="article-title" style="color:#059862;" href="{% url 'project-detail' project.id %}">{{ project.title }}</a></h2>
                </div>

                <p class="article-content">{{ project.description }}</p>
                 <div class="article-metadata">
<!--              <small class="mr-2" style="color:#059862"  > Posted on - {{project.date_posted}}</small>-->
<!--              <small class="mr-2 float-right" style="color:#059862"  > Finish Date - {{project.date_posted}}</small>-->
                </div>
          </div>
        </article>
    {% endfor%}

{%endblock content%}
