
{% extends 'task/base.html'%}
{% block content %}
 {% load mathfilters %}

    <article class="media content-section">

    <div class="col-md-8">

      <div class="media-body">
        <div class="article-metadata">
          <small class="mr-2 " style="color:#059862"  > Started on - {{object.date_posted}}</small>
            <h5 id="mybgt" class="mr-2 float-right " > </h5>
            <h5 class="mr-2 float-right " style="color:#059862"> Total Budget : {{total}}</h5>
            <p></p>
        </div>
        <h2 class="article-title" >{{ object.title }}</h2><p></p>
          <p class="article-metadata">{{ project.description }}</p>
         {% if object.author == user %}
          <div class="float-right">
              <a href="{%url 'project-update' project.id %}"> <i class="fa fa-edit " style="font-size:20px;color:info"></i></a>
             <a href="{%url 'project-delete' project.id %}"> <i class="fa fa-trash-o mr-2 " style="font-size:20px;color:info"></i></a>
          </div>
          {%endif%}
      </div>
      </div>

        <div class="col-md-4">
          <div class="content-section">
              <button class="btn  btn-md btn-block" style="border-radius: 50px; background-color:#059862;; color:white" onclick="document.location='{%url 'task-create'%}'">Add New Task</button>
              <p></p>
              <ul class="list-group">
<!--                <li class="list-group-item list-group-item-light">{{ project.title }}</li>-->
<!--                <li class="list-group-item list-group-item-light"><input type="text" placeholder="Search..." class="form-control"></input></li>-->
                 <h4 class="mt-3">Project Statistics</h4>
                  <li class="list-group-item list-group-item-light">Total Tasks : <b>{{count.count}}</b></li>
                  <li class="list-group-item list-group-item-light">Inprogress : <b>{{under_process.count}}</b></li>
                  <li class="list-group-item list-group-item-light">Finished : <b>{{complete.count}}</b></li>
              </ul>

          </div>
        </div>
    </article>


<!--<script>-->
<!--function myFunction() {-->
<!--  var x = document.getElementById("myDIV");-->

<!--  if (x.style.display === "none") {-->
<!--    x.style.display = "block";-->
<!--  } else {-->
<!--    x.style.display = "none";-->
<!--  }-->
<!--}-->

<!--</script>-->
<!--_____________-->
<!--  <div id="myDIV" style="display:none;" >-->

<!--<form method="POST">-->
<!--    {%csrf_token%}-->
<!--&lt;!&ndash;        <input value="{{object.title}}" type="text"  name="project" placeholder="Title" style="box-sizing: border-box;  border: none; width: 100%; padding: 12px 20px;  margin: 8px 0;    border-bottom: 2px solid green">&ndash;&gt;-->
<!--        <input type="text"  name="task_name" placeholder="Title" style="box-sizing: border-box;  border: none; width: 100%; padding: 12px 20px;  margin: 8px 0;    border-bottom: 2px solid green">-->
<!--&lt;!&ndash;        <input type="text"  name="fname" placeholder="Start Date" style="box-sizing: border-box;  border: none; width:49.5%; padding: 12px 20px;  margin: 8px 0;    border-bottom: 2px solid green">&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text"  name="fname" placeholder="End Date" class="float-right" style="box-sizing: border-box;  border: none; width: 49.5%; padding: 12px 20px;  margin: 8px 0;    border-bottom: 2px solid green">&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text"  name="fname" placeholder="Pricc" style="box-sizing: border-box;  border: none; width:49.5%; padding: 12px 20px;  margin: 8px 0;    border-bottom: 2px solid green">&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text"  name="fname" placeholder="Status" class="float-right" style="box-sizing: border-box;  border: none; width: 49.5%; padding: 12px 20px;  margin: 8px 0;    border-bottom: 2px solid green">&ndash;&gt;-->
<!--    <button type = "submit" class = "btn btn-info float-right">Submit Task</button>-->
<!--</form>-->
<!--    </div>-->



<!--            ___________&ndash;&gt;-->
<div class="article-metadata col-md-12">

<section class="ftco-section">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-6 text-center mb-5">
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-wrap">
<table class="table table-striped">
<thead>
<tr>

<th>Task</th>
<th>Plan Start Date</th>
<th>Plan Finish Date</th>
<th>Budget</th>
<th>Actual Start Date</th>
<th>Actual End Date</th>
<th>Progress</th>

</tr>
</thead>
       {%for task in tasks%}
<tbody>
<tr>

    <td>{{task.task_name}}</td>
    <td>{{task.plan_start_date}}</td>
    <td>{{task.plan_end_date}}</td>
    <td id="bgt">{{task.task_price}}</td>
    <td > {{task.actual_start_date}}</td>
    <td > {{task.actual_end_date}}</td>
    <td id="status"> {{task.task_prog}} %</td>

 {% if object.author == user %}
<td><a href="{%url 'task-update' task.id %}"> <i class="fa fa-edit " style="font-size:20px;color:info"></i></a>
    <a href="{%url 'task-delete' task.id %}"> <i class="fa fa-trash-o  " style="font-size:20px;color:info"></i></a></td>
{%endif%}
</tbody>

     {%endfor%}
</table>
</div>
</div>
</div>
</div>
</section>

<!-- -&#45;&#45;&#45;&#45;ffff&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;   -->


<div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<canvas id="myChart2" style="width:100%"></canvas>

<script>
var xValues = ['Weeks', {%for task in tasks%} {{forloop.counter}},{%endfor%}];
var array = [,{%for task in tasks%}{{task.task_price}},{%endfor%}],sum;
var prog = [,{%for task in tasks%}{{task.task_prog}}/100*{{task.task_price}},{%endfor%}],sum;

new Chart("myChart2", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      labels: array[0],
      data: [,{%for task in tasks%}{{task.task_price}},{%endfor%},100],
      lineTension: 0,
      borderColor: "brown",
      backgroundColor: "brown",
      label: 'Task Budget',
      fill: false
    }, {
      data: [,{%for task in tasks%}{{task.task_prog}}/100*{{task.task_price}},{%endfor%}],
      lineTension: 0,
      borderColor: "green",
      backgroundColor: "green",
      label: 'Task Progress',
      fill: false
    }, {
      data: array.map(elem => sum = (sum || 0) + elem),
      lineTension: 0,
      borderColor: "blue",
      backgroundColor: "blue",
      label: 'Aggregate Tasks Budget',
      fill: false
    },{
      data: prog.map((elem, index) => prog.slice(0,index + 1).reduce((a, b) => a + b)),
      lineTension: 0,
      borderColor: "red",
      backgroundColor: "red",
      label: 'Aggregate Tasks Progress',
      fill: false

    }
    ]
  },
  options: {
    legend: {display: true}
  }
});
</script>
</div>


    </div>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->

<!--<script>-->
<!--    $(document).ready(function()-->
<!--    {-->
<!--        var bgt;-->
<!--        var tbgt=0;-->
<!--        $('#bgt ').each(function()-->
<!--        {-->
<!--            bgt = $(this).html();-->
<!--            tbgt += parseInt(bgt);-->
<!--            $('#mybgt').text(tbgt);-->
<!--        });-->
<!--    });-->

<!--</script>-->
<div>
    <table class="table table-striped">
      <tbody>
        <tr>
            <td >Project %age</td>
           {%for task in tasks%}
            <td class="text-center">{{task.task_price|div:total|mul:'100'|floatformat:2}} </td>
            {%endfor%}
        </tr>


      </tbody>
    </table>
</div>


{%endblock content%}
